-var string = "M1-Talent-Program"
-var titles = ["Tech", "Talent", "Program"]
-var descriptions = ["Spaceship", "Start", "Exercise weights"]
-var languages = ["English (EN)", "Español (ES)"]
-var currencies = ["Dollar (USD)", "Pesos (COP)"]
-var names = ["Language", "Currency"]

mixin menu(name, optionA, optionB)
    label.topbar__menu-label(for=name) !{name}
    select.topbar__menu-select(id=name, name=name)
        option(selected value="0") !{optionA}
        option(value="1") !{optionB}

mixin banner(img, title, description)
    figure.content__gallery-wrap
        a(href="#")
            img.content__gallery-img(src=img, alt= description)
        h2.content__gallery-caption(tabindex="0") !{title}
doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name="description" content="My first page with Ally and Pug")
        link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Oswald:400,500,600,700&display=swap" )
        link(rel="stylesheet" href="./style.css")
        title #{string}
    body
        header.topbar
            h1.topbar__title(tabindex="0") Make Huge Moves
            nav.topbar__menu(aria-label="regional-menu")
                div.topbar__menu-wrap
                    +menu(names[0], languages[0], languages[1])
                div.topbar__menu-wrap
                    +menu(names[1], currencies[0], currencies[1])

            .topbar__logo
                a(href="#")
                    img.topbar__logo-img(src="./assets/Huge-logo.svg" alt="Huge-logo")

            nav.topbar__nav
                ul.topbar__nav-menu(role="menu") 
                    each title in titles
                        li(role="menuitem")!= '<a class="topbar__nav-title" href="#">'+title+'</a>'
        main.content
            .content__gallery(role="region" aria-label="gallery" tabindex="0")
                figure
                    img.content__gallery-banner(src='./assets/Banner.svg' alt="Banner")
                article.content__gallery-images
                    +banner('./assets/Image-1.svg', titles[0], descriptions[0])
                    +banner('./assets/Image-2.svg', titles[1], descriptions[1])
                    +banner('./assets/Image-3.svg', titles[2], descriptions[2])

            form.form
                h3.form__title(tabindex="0") Let's talk :)
                fieldset.form__wrap
                    label.form__wrap-label(for="firstName") Name
                    input.form__wrap-input(type="text" id="firstName" name="firstName" placeholder="Enter your name")
                    label.form__wrap-label(for="lastName") Last name
                    input.form__wrap-input(type="text" id="lastName" name="lastName" placeholder="Enter your lastname")
                    label.form__wrap-label(for="email") E-mail
                    input.form__wrap-input(type="email" id="email" name="email" placeholder="Enter your email")
                fieldset.form__wrap 
                    label.form__wrap-label(for="message") Message
                    textarea.form__wrap-input(name="message", id="message" placeholder="Write something cool")
                button.form__button(aria-label="send form") SUBMIT 

        footer.footer
            p.footer__copy
                small(tabindex="0") Powered by the M1 talent program at Huge 
                